@import '../../utils/partials/variables';
.related-attribute-card.card {
    background-color: $secondary-background-color;
    margin: 1rem 1rem 1rem 1rem;
    img {
        margin-bottom: 1rem;
    }
}