@import '../../utils/partials/variables';
.user-list {
    background-color: $main-background-color;
    padding: 1em;
    margin-bottom: 1.5em;
    text-align: left;
    ul {
        list-style-type: none;
        padding-left: 0 !important;
    }
    .heading {
        color: #fff;
        font-size: 20px;
    }
    .user-list-item {
        display: flex;
        justify-content: space-between;
        svg {
            align-self: flex-start;
            color: $form-label-color;
            cursor: pointer;
            height: 18px;
        }
        .details {
            p {
                margin: 5px 0;
            }
            p:first-child {
                margin-top: 0;
            }
            .description {
                color: $label-color;
                font-size: 13px;
                line-height: 1.5;
                margin-bottom: 10px;
            }
        }
        .list-type {
            text-transform: capitalize;
        }
    }
}
