@import '../../utils/partials/variables', '../../utils/partials/form';

$font-size: 13px;
#main-navbar.navbar {
    align-items: flex-start;
    position: relative;
    &.logged-in {
        background-color: $main-background-color;
    }
    &.logged-out {
        background-color: $logged-out-color;
        height: auto;
        .navbar-brand {
            color: #fff;
        }
    } 
    a.link.nav-link,
    span.link.nav-link {
        color: #fff;
        font-size: $font-size;
        text-transform: uppercase;
        &:not(.navbar-brand):hover {
            color: $link-color;
        }
    }        
    form {
        .input-group.input-container {
            width: 100%;
            input.form-control {
                background-color: $secondary-background-color;
                border: 0;
            }
        }
        .input-group-text {
            background-color: transparent;
            border: 0;
        }
    }    
    .logout:hover {
        cursor: pointer;
    }
    .navbar-brand {
        font-size: 20px;
        text-transform: initial;
        &.navbar-brand.logged-in {
            color: $link-color;
        }
    }
    .navbar-toggler {
        background-color: #fff;
    }
    .nav-links.navbar-nav {  
        border-bottom: 1px solid $border-color;
        border-top: 1px solid $border-color;   
        a {
            font-weight: 500;
            line-height: 1.5;
        }
        .active {
            border-bottom: 2px solid #0093ff;
        }
    }
    #main-navbar-collapse {
        justify-content: flex-end;
        margin-top: 2em;
    }
}

@import '../../utils/partials/media-queries';
