@import '../../utils/partials/variables', '../../utils/partials/_view.scss';
#genre-view {
    .related-attributes {
        border-top: 1px solid $border-color;
        // display: flex;
        margin-top: 3rem;
        padding-top: 3rem;
    }
}