@import '../../utils/partials/variables', '../../utils/partials/media-queries';
#profile-view {
    margin-top: 4rem;
    h1 {
        text-align: left;
    }
    form .btn-container {
        justify-content: flex-start;
    }
    .delete-user-container { 
        margin-bottom: 2rem;
        span {
            color: $label-color;
            font-size: 13px;
            line-height: 1.5;
        }
        svg {
            color: $form-icon-color;
            cursor: pointer;
            height: 20px;
            margin-right: 1em;
        }
    }   
    .justify-content-end {
        margin-top: 10em;
    }
}