@import '../../utils/partials/variables';
#profile-view {
    .delete-user-container { 
        span {
            color: $label-color;
            font-size: 13px;
        }
        svg {
            cursor: pointer;
            margin-right: 1em;
        }
    }
    .justify-content-end {
        margin-top: 10em;
    }
}