$border-color: #30333a;
$form-icon-color: #f5f5f5;
$form-label-color: #bec2cc;
$label-color: #828d99;
$link-color: #117dce;
$logged-out-color: #0376e3;
$main-background-color: #1b1d24;
$secondary-background-color: #1e2127;