@import './variables';
.actors-container,
.movies-container {
    .row.view-row {
        [class*="col"] {
            align-items: center;
            display: flex;
            flex-direction: column;
            max-width: 350px;
        }
    }
}
.view[class*="col"] {
    background-color: $secondary-background-color;
    color: #fff;
    padding: 0;
    padding-bottom: 2rem;
    .attribute {
        margin-right: 4em;
        .label + a {
            color: $link-color;
        }
    }
    .attributes {
        border-bottom: 1px solid $border-color;
        border-top: 1px solid $border-color;
        display: flex;
        margin-bottom: 4em;
        margin-top: 4em;
        padding: 1em 10% 1em 10%;
    }
    .card-body {
        padding-left: 0;
        padding-top: 0;
    }
    .label {
        font-size: 15px;
    }
    .close-box {
        background-color: $main-background-color;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        padding: 3px;
        position: absolute;
        right: 30px;
        text-align: center;
        top: 20px;
        svg {
            color: $form-icon-color;
        }
    }
    .description {
        color: $form-label-color;
    }
    .label {
        margin-bottom: 0.5rem;
    }
    .heading-box {
        background-color: #fff;
        // background-size: cover; 
        background-position: top center; 
        background-repeat: no-repeat; 
        height: 200px;
        position: relative;
        &.heading-box--no-image {
            height: auto;
        }
    }
    .main-content {
        margin-top: 4em;
        padding-left: 10%;
        padding-right: 10%;
    }
    .main-heading {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        svg {
            height: 18px;
            &:hover,
            &.added-to-list {
                cursor: pointer;
                fill: #fff;
            } 
        }
        svg.added-to-list:hover {
            cursor: not-allowed;
        }
    }
    .related-attributes {
        padding-left: 10%;
        padding-right: 10%;
        img {
            max-width: 100%;
        }
        .card {
            display: inline-block;
        }
    }
    .source-container {
        padding-left: 10%;
        padding-right: 10%;
    }
}