@import './variables';
.actors-container,
.movies-container {
    form {
        margin-top: 2rem;
    } 
    .row.view-row {
        [class*="col"] {
            align-items: center;
            display: flex;
            flex-direction: column;
            max-width: 350px;
        }
    }
}
.view {
    background-color: $secondary-background-color;
    color: #fff;
    margin-top: 4em;
    // max-width: 100%;
    padding: 0;
    padding-bottom: 2rem;
    // width: 700px;
    .attribute {
        margin-right: 4em;
        .label + p {
            color: $link-color;
        }
    }
    .attributes {
        border-bottom: 1px solid $border-color;
        border-top: 1px solid $border-color;
        display: flex;
        margin-bottom: 4em;
        margin-top: 4em;
        padding: 1em 10% 1em 10%;
    }
    .card-body {
        padding-left: 0;
        padding-top: 0;
    }
    .label {
        font-size: 15px;
    }
    .close-box {
        background-color: $main-background-color;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        // height: 36px;
        padding: 3px;
        position: absolute;
        right: 30px;
        text-align: center;
        top: 20px;
        // width: 36px;
        svg {
            color: $form-icon-color;
        }
    }
    .description {
        color: $form-label-color;
    }
    .label {
        margin-bottom: 0.5rem;
    }
    .image-cover {
        background-color: #fff;
        // background-size: cover; 
        background-position: top center; 
        background-repeat: no-repeat; 
        height: 200px;
        position: relative;
    }
    .main-content {
        margin-top: 4em;
        padding-left: 10%;
        padding-right: 10%;
    }
    .related-attributes {
        // display: flex;
        padding-left: 10%;
        padding-right: 10%;
        img {
            max-width: 100%;
        }
        .card {
            display: inline-block;
        }
    }
    .source-container {
        padding-left: 10%;
        padding-right: 10%;
    }
}