@import '../../utils/partials/variables', '../../utils/partials/_form.scss';
#login-view {
    background-color: $logged-out-color;
    button[type="submit"] {
        margin-bottom: 2rem;
        margin-top: 1rem;
    }
    #login-form + .btn-container {
        border-top: 1px solid $border-color;
        padding-bottom: 0.5em;
        padding-top: 0.5em;
        button {
            background-color: #0093ff;
            width: 80%;
        }        
    }
}
