@import './utils/partials/variables';
body {
    background-color: $main-background-color !important;
}
.my-flix {
    background-color: $main-background-color;
    font-family: 'Calibri';
    margin: 0;
    padding: 0;
    a {
        color: $link-color;
        text-decoration: none;
    }
}
html {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
    max-width: 100%;
}
button {
    cursor: pointer;
}
.error {
    color: #f5866f;
}
.label {
    color: $label-color;
    font-size: 15px;
}