@import './utils/partials/variables';
body,
html {
    background-color: $main-background-color !important;
    height: 100%;
}
.app-container {
    font-family: 'Archivo', sans-serif;
    height: 100%;
}
.container-fluid.my-flix {
    background-color: $main-background-color;
    height: 100%;
    margin: 0;
    padding: 0;
    a {
        color: $link-color;
        text-decoration: none;
    }
    button {
        cursor: pointer;
    }
    & > div {
        margin-top: 4rem;
    }
    h1 {
        color: #fff;
    }
    .container-col {
        padding: 0;
    }
    .error,
    .text-error {
        color: #f5866f;
    }
    .view-row--form {
        height: 100%;
        margin: 0;
    }
    .label {
        color: $label-color;
        font-size: 15px;
        line-height: 1.6;
    }
    .row {
        margin-left: 0;
        margin-right: 0;
    }
}
html {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
    max-width: 100%;
}